<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.steph.beginerwourkoutapp"
    android:installLocation="preferExternal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyTheme.Dark">
        <activity android:name=".MainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CaloriesActivity" />
        <activity
            android:name=".StopwatchActivity"
            android:label="@string/stopwatch_activity" />
        <activity
            android:name=".ProfileActivity"
            android:label="User Profile" />
        <activity android:name=".GoalsActivity"
            android:label="Goals"/>
        <activity android:name=".RoutineActivity"
            android:label="Routine"/>
        <activity android:name=".ProgressActivity"
            android:label="Progress"/>
        <activity android:name=".AboutActivity"
            android:label="About"/>
        <activity android:name=".ViewRoutineActivity"/>
        <activity android:name=".AddRoutineActivity"/>
    </application>

</manifest>